@model IEnumerable<MVCBartenderApplication.Models.OrderQueueModel>

@{
    ViewBag.Title = "Order Queue";
}

<h2>Order Queue</h2>

<p>
    @Html.ActionLink("Edit Menu", "BartenderMenu")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Details", "Detail", item) |
            @Html.ActionLink("Complete Order", "Complete", item)
        </td>
    </tr>
}

</table>
